.blog__main_card_button{
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  border: none;
  background-color: transparent;
  color: #fff;
}

.blog__main_card_button:hover{
  cursor: pointer;
}