.posts__card_button{
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 24px;
}

.posts__card_button:hover{
  cursor: pointer;
}